.circle {
    border-radius: 50%/50%;
    background-color: #eee;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 3em;
    text-align: center;
    box-shadow: 2px 2px 2px #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #888;
    margin: 0 auto 20px;
}

.circle:hover {
    transition: all 0.3s ease;
    box-shadow: 2px 2px 2px #bbb;
    color: #555;
}