.hash-item {
    margin: 0.5em 0.3em;
    position: relative;
    transition: all 0.2s ease;
    top:0;
    display: inline-block;
    white-space: nowrap;
    float:left;
}

.hash-item:hover {
    top: -0.4em;
    border-bottom: 1px solid black;
}

.hash-item:hover:after {
    position: absolute;
    top: 1.2em;
    left: 0;
    content: attr(data-hover);
}

.hash-item:before{
    content:'#';
}