.hash-item {
    margin: 0.8em 0.3em;
    position: relative;
    transition: all 0.2s ease;
    top:0;
    display: inline-block;
    white-space: nowrap;
    float:left;
}

div[data-hover]:hover:after {
    content: attr(data-hover);
    position: absolute;
    padding: 2px 8px;
    color: #333;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 20;
}
.hash-item:hover {
    text-decoration: underline;
}

.hash-item:before{
    content:'#';
}